# MongoDB
MONGODB_URI=mongodb+srv://YOUR_USER:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/?appName=Cluster0
MONGODB_DB=wellbeing_app

# AI / external APIs
GEMINI_API_KEY=your_gemini_api_key_here
YELP_API_KEY=your_yelp_api_key_here

# Shared local app URLs
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_FITNESS_URL=http://localhost:3005
NEXT_PUBLIC_NUTRITION_URL=http://localhost:3003
NEXT_PUBLIC_RESTAURANTS_URL=http://localhost:3004
NEXT_PUBLIC_SKIN_URL=http://localhost:3002
NEXT_PUBLIC_COMMUNITY_URL=http://localhost:3006
